body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: peru;
  /* background-color: olive; */
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=38218);
}

nav a {
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

nav a:hover {
  color: saddlebrown;
}

footer {
  background-color: peru;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

main {
  /* background-image: url("https://thumbs.dreamstime.com/b/adorable-seamless-pattern-funny-dinosaur-skeletons-cartoon-style-sketchy-fossil-dinosaurs-background-fossil-dinosaurs-71154901.jpg"); */
  /* background-image: url("https://www.goodtextures.com/cache/f38a2d8a/av12d62791abb8a085977.jpg"); */
  background-image: url("https://thumbs.dreamstime.com/b/k-seamless-sand-texture-surface-high-resolution-155920493.jpg");
}

#home-page {
  background-color: white;
}

#card-img {
  max-height: 100px;
}

#dino-list-links {
  text-decoration: none;
  color: peru;
}

#dino-list-links:hover {
  color:saddlebrown;
}